.while{
    background-color: #2d3a4b;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .body{
        width: 20%;
      
       
   


    }

}
