.upload{

    height: 100%;
    width: 100%;
    .header{
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
    .body{
        width: 600px;
        height: 500px;
    }

}